.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}
.box:hover {
  width: 300px;
  background-color: aquamarine;
}
.box:active {
  background-color: blueviolet;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: bisque;
}
.box1::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: blue;
}
[type="text"] {
  background-color: olive;
}
[data-fruit-name] {
  color: red;
}
.parent {
  width: 300px;
  height: 400px;
  background-color: red;
}
.child {
  width: 100px;
  height: inherit;
  background-color: inherit;
  position: fixed;
  top: 100px;
  right: 10px;
}